/* answer-input.component.css */
.answer-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

textarea {
  padding: 10px; /* Padding uniforme */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Pleine largeur */
  font-size: 16px; /* Taille de police ajustée */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-height: 50px; /* Hauteur minimale pour agrandissement vertical */
  resize: vertical; /* Permet à l'utilisateur de redimensionner verticalement */
  overflow: auto; /* Gère le défilement si le texte dépasse la hauteur */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  textarea {
    width: 100%; /* Ajustez la largeur selon les besoins */
    min-height: 100px; /* Hauteur plus grande pour les écrans plus larges */
    margin: 0 auto;
  }
}
