/* answer-input.component.css */
.answer-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

input[type="text"] {
  padding: 20px 10px; /* Réduit le padding gauche et droit */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Pleine largeur sur les petits écrans */
  font-size: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-height: 50px; /* Hauteur minimale pour agrandissement vertical */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

@media (min-width: 768px) {
  input[type="text"] {
    width: 100%; /* Ajustez la largeur selon les besoins */
    min-height: 100px; /* Hauteur plus grande pour les écrans plus larges */
    margin: 0 auto;
  }
}
