<!-- app.component.html -->
<div class="app-container">

  <!-- Smiley Image Component -->
  <app-smiley-image></app-smiley-image>
  
  <!-- Subject Selector Component -->
  <app-subject-selector (subjectSelected)="onSubjectSelected($event)"></app-subject-selector>
  
  <!-- Question Display Component -->
  <app-question-display *ngIf="currentQuestion" [question]="currentQuestion" (nextQuestion)="onNextQuestionClicked()"></app-question-display>
  
  <!-- Answer Input Component -->
  <app-answer-input *ngIf="currentQuestion" (answerSubmitted)="onAnswerSubmitted($event)"></app-answer-input>
  
  <!-- Feedback Display Component -->
  <app-feedback-display *ngIf="feedbackMessage" [message]="feedbackMessage" [isCorrect]="isCorrect"></app-feedback-display>
</div>
